{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="section-content padding-y bg">
    <div class="container">
    
    <!-- ============================ COMPONENT 1 ================================= -->

    <div class="row">
        <aside class="col-lg-8">
        
            <div class="card">
                <h5 class="card-header">Fatura Adresi</h5>
                <div class="card-body">
                    <p class="card-text">with supporting text bellow as natural lead-in to additional</p>
                </div>
            </div>
            <div class="card">
                <h5 class="card-header">Ödeme Yöntemi</h5>
                <div class="card-body">
                    <p class="card-text">with supporting text bellow as natural lead-in to additional</p>
                </div>
            </div>
            <div class="card">
                <h5 class="card-header">Özet</h5>
                <div class="card-body">
                    <p class="card-text">with supporting text bellow as natural lead-in to additional</p>
                </div>
            </div>
        
        </aside> <!-- col.// -->
        <aside class="col-lg-4">
    
            <div class="card">
            <div class="card-body">
                <dl class="dlist-align">
                  <dt>Toplam Ücret:</dt>
                  <dd class="text-right">{{ total }} TL</dd>
                </dl>
                {% comment %} to apply taxt {% endcomment %}
                {% comment %} <dl class="dlist-align">
                  <dt>Vergi:</dt>
                  <dd class="text-right"> {{ tax }} TL</dd>
                </dl>
                <dl class="dlist-align">
                  <dt>Toplam Tutar:</dt>
                  <dd class="text-right text-dark b"><strong>{{ grand_total }}</strong></dd>
                </dl> {% endcomment %}
                <hr>
                <!-- images can come here  -->
                <!-- <p class="text-center mb-3">
                    <img src="./images/misc/payments.png" height="26"> -->
                </p>
                <a href="{% url 'checkout' %}" class="btn btn-primary btn-block"> Ödemeye Geç </a>
            </div> <!-- card-body.// -->
            </div> <!-- card.// -->
    
    </aside> <!-- col.// -->
    
    
    </div> <!-- row.// -->
    <!-- ============================ COMPONENT 1 END .// ================================= -->
    
    </div> <!-- container .//  -->
    </section>
    

{% endblock %}